{
  "singleQuote": true,
  "printWidth": 140,
  "tabWidth": 2,
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.html", "*.component.html"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
